{% extends "@ContaoCore/Backend/be_page.html.twig" %}

{% trans_default_domain 'AgonyzContaoPageSpeedBundle' %}
{% block headline %}
Page Speed Insights - {{ 'comparison'|trans }}
{% endblock %}

{% block error %}
{% endblock %}

{% block main %}
<link href="{{ asset('bundles/agonyzcontaopagespeedinsights/style/main.css') }}" rel="stylesheet" type="text/css"/>
<div class="tl_listing_container">
    <h2>{{ 'comparison'|trans }} </h2><br>

    <table class="page-speed-insights-table">
        <thead>
        <tr>
            <th class="header-text">Type</th>
            <th class="header-text">ID</th>
            <th class="header-text">{{ 'created_at'|trans }}</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>{{ 'latest'|trans }}</td>
            <td><a class="agonyz-page-speed-insights link" target="_blank" href="{{ path('agonyz_contao_page_speed_insights_by_id', {id: comparison['latestRequest'].id}) }}">{{comparison['latestRequest'].id}}</a></td>
            <td>{{comparison['latestRequest'].created|date('d.m.Y - H:i')}}</td>
        </tr>
        <tr>
            <td>{{ 'comparison'|trans }}</td>
            <td><a class="agonyz-page-speed-insights link" target="_blank" href="{{ path('agonyz_contao_page_speed_insights_by_id', {id: comparison['request'].id}) }}">{{comparison['request'].id}}</a></td>
            <td>{{comparison['request'].created|date('d.m.Y - H:i')}}</td>
        </tr>
        </tbody>
    </table>

    <br><br><br>

    {% if(comparison['comparison'] is defined) and (comparison['comparison'] is iterable) %}
    <h2>{{ 'latest'|trans }} ({{ 'comparison'|trans }})</h2>
    <br>
    <table class="page-speed-insights-table">
        <thead>
        <tr>
            <th class="header-text">Domain</th>
            <th class="header-text">Mobile</th>
            <th class="header-text">{{ 'comparison'|trans }}</th>
            <th class="header-text">Desktop</th>
            <th class="header-text">{{ 'comparison'|trans }}</th>
        </tr>
        </thead>
        <tbody>
        {% if comparison is iterable %}
        {% for domain, compare in comparison['comparison'] %}
        <tr>
            <td><a class="agonyz-page-speed-insights link" target="_blank" href="{{domain}}">{{domain}}</a></td>
            <td>{{compare['results']['mobile']['latestRequest']}} ({{compare['results']['mobile']['request']}})</td>
            <td class="{% if compare['results']['mobile']['comparison'] < 0 %}agonyz-color-code-failed{% elseif compare['results']['mobile']['comparison'] == 0 %}agonyz-color-code-running{% else %}agonyz-color-code-ok{% endif %}">{{compare['results']['mobile']['comparison']}}</td>
            <td>{{compare['results']['desktop']['latestRequest']}} ({{compare['results']['desktop']['request']}})</td>
            <td class="{% if compare['results']['desktop']['comparison'] < 0 %}agonyz-color-code-failed{% elseif compare['results']['desktop']['comparison'] == 0 %}agonyz-color-code-running{% else %}agonyz-color-code-ok{% endif %}">{{compare['results']['desktop']['comparison']}}</td>
        </tr>
        {% endfor %}
        {% endif %}
        </tbody>
    </table>
    {% else %}
    <p>{{ 'request_not_comparable'|trans }}</p>
    {% endif %}
</div>
{% endblock %}
