{% extends "@ContaoCore/Backend/be_page.html.twig" %}

{% block headline %}
Page Speed Insights - Request List
{% endblock %}

{% block error %}
{% if pager is empty %}
No request was found in the database!
{% endif %}
{% endblock %}

{% block main %}
<link href="{{ asset('bundles/agonyzcontaopagespeedinsights/style/main.css') }}" rel="stylesheet" type="text/css"/>
<link href="{{ asset('bundles/agonyzcontaopagespeedinsights/style/pagination.css') }}" rel="stylesheet" type="text/css"/>
<script src="{{ asset('bundles/agonyzcontaopagespeedinsights/script/list-handler.js') }}" type="text/javascript"></script>
<div class="tl_listing_container">
{% if pager is not empty %}
<h2>Requests</h2><br>
<table class="page-speed-insights-table">
    <thead>
    <tr>
        <th class="header-text">ID</th>
        <th class="header-text">Created</th>
        <th class="header-text">Status</th>
        <th class="header-text">Compare</th>
        <th class="header-text">Delete</th>
    </tr>
    </thead>
    <tbody>
    {% for request in pager %}
    <tr>
        <td><a class="agonyz-page-speed-insights link" target="_blank" href="{{ path('agonyz_contao_page_speed_insights_by_id', {id: request.id}) }}">{{ request.id }}</a></td>
        <td>{{ request.created|date('d.m.Y - H:i') }}</td>
        <td class="{% if request.successful == 1 %}agonyz-color-code-ok{% elseif request.successful is null %}agonyz-color-code-running{% else %}agonyz-color-code-failed{% endif %}">{% if request.successful == 1 %}Ok{% elseif request.successful is null %}Running{% else %}Failed{% endif %}</td>
        <td><a data-id="{{request.id}}" class="agonyz-page-speed-insights link compare" href="{{ path('agonyz_contao_page_speed_insights_by_id_compare', {id: request.id}) }}">Compare</a></td>
        <td><a data-id="{{request.id}}" class="agonyz-page-speed-insights link delete" href="{{ path('agonyz_contao_page_speed_insights_by_id_delete', {id: request.id}) }}">Delete</a></td>
    </tr>
    {% endfor %}
    </tbody>
</table>
{{ pagerfanta(pager) }}
{% endif %}
</div>
{% endblock %}
